body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

.rules_page {
    text-align: left;
}
h1 {
    color: #333;
    margin-bottom: 70px;
}

.image-container {
    width: 400px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.image {
    max-width: 100%;
}


form {
    max-width: 400px;
    margin: 40px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

label, select, input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

input[type="string"] {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="number"] {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #163bd0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0027b3;
}

a {
    text-decoration: none; 
    color: #007bff; 
}

a:hover {
    color: #0056b3; 
}

table.game-info {
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 16px;
    margin-top: 20px;
}

table.game-info caption {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

table.game-info th,
table.game-info td {
    border: 1px solid #ccc;
    padding: 8px;
}

table.game-info th {
    background-color: #f2f2f2;
    font-weight: bold;
}

table.game-info tr:nth-child(even) {
    background-color: #f9f9f9;
}

form.horizontal-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

form.horizontal-form label,
form.horizontal-form input {
    margin-right: 10px;
    margin-bottom: 10px;
}





