{% extends 'layout.html' %}

{% block body %}
    <h1>Welcome to the Rising Sun Game</h1>
    <p>This is a simplified version of the fighting phase of the <a href="https://en.wikipedia.org/wiki/Rising_Sun_(board_game)">Rising Sun</a> board game. You can choose parameters for the game and play against a bot !</p>
    <form action="/play" method="post" onsubmit="return validateForm()">
        <label for="player_name">Name:</label>
        <input type="string" name="player_name" id="player_name" value="">
        <br>
        <label for="bot_behavior">Select Bot Behavior:</label>
        <select name="bot_behavior" id="bot_behavior">  
            <option value="random">Random</option>
            <option value="heuristic">Heuristic</option>
            <option value="sepuku_poets">Sepuku Poets</option>
        </select>
        <br>
        <label for="nb_games">Number of Games:</label>
        <input type="number" name="nb_games" id="nb_games" value="3">
        <br>
        <label for="fights_per_game">Fights Per Game:</label>
        <input type="number" name="fights_per_game" id="fights_per_game" value="2">
        <br>
        <input type="submit" value="Play">
    </form>
    <a href="{{ url_for('rules') }}">Check the rules</a>
{% endblock %}

<script>
function validateForm() {
    var playerName = document.getElementById("player_name").value;
    var nbFights = document.getElementById("nb_fights").value;
    var fightsPerGame = document.getElementById("fights_per_game").value;

    if (playerName == "" || nbFights == "" || fightsPerGame == "") {
        alert("Please fill in all fields in the form");
        return false
    }

    return true
}
</script>
