{% extends 'layout.html' %}

{% block body %}
    <h1>Play Rising Sun Game</h1>
    
    <table class="game-info">
        <h2>Fight {{ fight_nb }} / {{ nb_fights }}</h2>
        <caption>Player and Bot Player States</caption>
        <tr>
            <th>Name</th>
            <th>{{ player_state[0] }}</th>
            <th>{{ bot_state[0] }}</th>
        </tr>
        <tr>
            <td>Golds</td>
            <td>{{ player_state[1] }}</td>
            <td>{{ bot_state[1] }}</td>
        </tr>
        <tr>
            <td>Forces per Fight</td>
            <td>{{ player_state[2] }}</td>
            <td>{{ bot_state[2] }}</td>
        </tr>
        <tr>
            <td>Number of Ronins</td>
            <td>{{ player_state[3] }}</td>
            <td>{{ bot_state[3] }}</td>
        </tr>
        <tr>
            <td>Number of Points</td>
            <td>{{ player_state[4] }}</td>
            <td>{{ bot_state[4] }}</td>
        </tr>
    </table>
    
    
    <form action="/play" method="post" class="horizontal-form">
        <label for="Sepuku">Sepuku:</label>
        <input type="number" name="Sepuku" id="Sepuku">
        <br>

        <label for="Hostage">Hostage:</label>
        <input type="number" name="Hostage" id="Hostage">
        <br>

        <label for="Ronins">Ronins:</label>
        <input type="number" name="Ronins" id="Ronins">
        <br>

        <label for="Imperial_Poets">Imperial_Poets:</label>
        <input type="number" name="Imperial_Poets" id="Imperial_Poets">
        <br>    
        <input type="submit" value="Submit Action">
    </form>

    <a href="{{ url_for('index') }}">Go back to main page</a>
{% endblock %}


<script>
//Handle form submission
document.getElementById('action-form').addEventListener('submit', function(event) {
    event.preventDefault();
    var sepuku = document.getElementById('Sepuku').value;
    var hostage = document.getElementById('Hostage').value;
    var ronins = document.getElementById('Ronins').value;
    var imperialPoets = document.getElementById('Imperial_Poets').value;
    updateGameState(sepuku, hostage, ronins, imperialPoets);
});

//Send action to server and update game state 
function updateGameState(sepuku, hostage, ronins, imperialPoets) {
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/play', true);
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
    xhr.onload = function() {
        if (xhr.status >= 200 && xhr.status < 400) {
            document.getElementById('game-state').innerHTML = xhr.responseText;
        }
    };
    xhr.send('Sepuku=' + encodeURIComponent(sepuku) + '&Hostage=' + encodeURIComponent(hostage) + '&Ronins=' + encodeURIComponent(ronins) + '&Imperial_Poets=' + encodeURIComponent(imperialPoets));

}
</script>


